
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <meta property="og:type" content="website">
      <meta property="og:title" content="Soft Skills Academy Sarajevo '17" />
      <meta property="og:description" content="Soft Skills Academy Sarajevo - Besplatna trodnevna radionica ličnih i profesionalnih vještina za studente svih fakulteta u Sarajevu" />
      <meta property="og:image" content="img/greenLogo.jpg" />
      <meta property="og:url" content="." />
    <title>Soft Skills Academy Sarajevo '17</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
    <script src="js/jquery.redirect.js"></script>


  

    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    
   


     <!-- Za Carousel -->
   
    
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/jpg" href="img/favicon.png"/>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="js/script.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/carousel.js"></script>
    
   

   


    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">


</head>

<body>



    
    <div id="includeMainNavbar"><nav class="navbar navbar-default mainNavbar mainNavbar1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=""><img class="logo-img img-responsive" src="./img/whiteLogo1.png" /></a>
                </div>
                <div class="collapse navbar-collapse " id="navbarCollapse">
                    <ul class=" navbar-nav nav navbar-right navbarList">


                        <li><a href="treninzi.php">Treninzi i treneri</a></li>
                        <li><a href="mediji.php">Mediji</a></li>
                        <li><a href="partneri.php"> Partneri</a></li>
                        <li><a href="galerija.php">Galerija</a></li>
                        <li><a href="kontakt.php">Kontakt</a></li>


                    </ul>
                </div>


            </div>
        </div>

    </div>
</nav>

<!-- Return to Top -->
<a href="javascript:goToByScroll('mainNavbar');" id="return-to-top"><i class="icon-chevron-up"></i></a></div>
    <div id="includeTitle"><div class="title">
	<div class="container-fluid">
		<div class="row">
			
	        <div class="title-text ">
	        <div class="title-text-one">
	            <p>Besplatna trodnevna radionica ličnih i profesionalnih vještina</p>
	        </div>
	        <div class="title-text-two">
	            <p>Soft skills academy Sarajevo</p>
	        </div>
	        <div class="title-text-three">
	            <p>10-12. mart 2017. godine</p>
	        </div>
	        </div>

	        
		</div>
	</div>
</div>
</div>
    <div id="includeSecondNavbar"><nav class="navbar navbar-default secondNavbar" data-spy="affix" data-offset-top="820">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondNavbarCollapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img class="second-logo-img img-responsive" src="./img/greenLogo.jpg" ></a>
                    
                </div>
                
                        <div class="collapse navbar-collapse" id="secondNavbarCollapse">
                            <ul class=" navbar-nav nav secondNavbarList">


                                <li><a href="javascript:goToByScroll('novosti-cont');">Novosti</a></li>
                                <li><a href="javascript:goToByScroll('onama-cont');">O nama</a></li>
                                <li><a href="javascript:goToByScroll('oprojektu-cont');"> O projektu</a></li>
                                <li><a href="javascript:goToByScroll('drugiONama-cont');"> Drugi o nama</a></li>
                                <li><a href="javascript:goToByScroll('rasp-cont');">Raspored</a></li>
                                <li><a href="javascript:goToByScroll('par-cont');">Participanti</a></li> 


                            </ul>
                        </div>


                    </div>
                </div>

            </div>
        </nav></div>
    <div id="includeNovosti">
<section class="container-fluid marginContainer novosti-cont">
    <p class="sectionHeadline"><b>novosti</b></p>
    <p class="sectionHeadlineBottomRed"></p>
    <div class="row">
        <div class='col-md-6 novostiDiv' id='5'>
             <div class='mainNewsDiv'>
                    <div>
                        <img class='img-responsive newsImg' src='img/novost3.jpg' />
                    </div>
                    <div class='newsMainDate'>
                        <p class='newsDayMargin'>10.</p>
                     <p>Mar</p>
                     </div>
                     <div>
                        <p class='newsArticleHeader'>Svečano otvorena Soft Skills Academy Sarajevo 2017</p>
                        <p class='newsArticleText'></p>
                    </div>
                </div>
            </div><div class='col-md-6 novostiDiv' id='4'>
             <div class='mainNewsDiv'>
                    <div>
                        <img class='img-responsive newsImg' src='img/novost2.jpg' />
                    </div>
                    <div class='newsMainDate'>
                        <p class='newsDayMargin'>08.</p>
                     <p>Mar</p>
                     </div>
                     <div>
                        <p class='newsArticleHeader'>Objavljeni treneri i treninzi za Soft Skills Academy Sarajevo!</p>
                        <p class='newsArticleText'></p>
                    </div>
                </div>
            </div><div class='col-md-6 novostiDiv' id='3'>
             <div class='mainNewsDiv'>
                    <div>
                        <img class='img-responsive newsImg' src='img/novost1.jpg' />
                    </div>
                    <div class='newsMainDate'>
                        <p class='newsDayMargin'>02.</p>
                     <p>Feb</p>
                     </div>
                     <div>
                        <p class='newsArticleHeader'>Otvorene PRIJAVE za Soft Skills Academy Sarajevo!</p>
                        <p class='newsArticleText'></p>
                    </div>
                </div>
            </div>    </div>
    <!-- <div class="container-fluid newsMoreDiv">
        <p><a href="sveNovosti.php"class="newsMoreText">Više novosti...</a></p>
    </div> -->
    <script>
        $(function() {

            $(window).resize(function() {
                responsiveDateDiv();
            });

            var responsiveDateDiv = function() {
                var imgHeight = $($(".newsImg")[0]).height();
                if (imgHeight != 0) {
                    $.each($(".newsMainDate"), function(index, value) {
                        if ($(window).width() > 768) {
                            $(value).css("top", (imgHeight - 80) + "px");
                        } else {
                            $(value).css("top", (imgHeight - 35) + "px");
                        }
                    });
                }
            };
            responsiveDateDiv();

            $(".novostiDiv").on('click',function(event){
                console.log(event); 
                    
       
                $.redirect('viseONovosti.php', {'novostId': $(this).attr('id'), 'arg2': 'value2'});
            });
        });
    </script>
</section></div>
    <div id="includeONama"><div class="marginContainer onama-cont">
    <div class="container-fluid">
        <p class="sectionHeadline"><b>O nama</b></p>
        <p class="sectionHeadlineBottomRed"></p>

        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img alt="Povezivanje studenata" class="image img-responsive" src="img/network.png"></img>
                <p class="onama-title-text">
                    Povezivanje studenata
                </p>
                <p class="onama-paragraph-text">
                    EESTEC (engl. Electrical Engineering STudents' European assoCiation) je udruženje studenata elektrotehnike Evrope. Trenutno postoji 51 lokalni komitet na fakultetima u gradovima širom Evrope i taj broj se povećava. Osnovni cilj EESTEC-a je promocija
                    i razvoj međunarodnih kontakta između studenata i profesionalaca iz oblasti elektrotehnike. EESTEC pruža poslovne mogućnosti i internacionalnu karijeru svim članovima lokalnih komiteta, a jedan od koraka ka ostvarenju ovog cilja je
                    formiranje jedinstvene baze podataka studenata elektrotehnike iz cijele Evrope, kako bi internacionalne kompanije mogle specijalizirati studente u vrhunske inženjere kroz rad u njihovom poslovnom okruženju.
                </p>

            </div>
            <div class="col-md-4 col-xs-12">
                <img alt="Višegodišnja tradicija i uspjesi" class="image img-responsive" src="img/medalja.png"></img>
                <p class="onama-title-text">
                    Višegodišnja tradicija i uspjesi
                </p>
                <p class="onama-paragraph-text">
                    Tokom 10 godina aktivnog rada, EESTEC LC Sarajevo se može pohvaliti velikim brojem organizovanih projekata, kako na lokalnom nivou, tako i na internacionalnom. Naš lokalni komitet teži da pruži maksimalni doprinos poboljšanju situacije studenata u Bosni
                    i Hercegovini. Naš moto je da mladi ne trebaju čekati na prilike, već ih sami stvarati. Kroz naše lokalne projekte Soft Skills Academy Sarajevo i JobFAIR, trudimo se da motivišemo mlade da na vrijeme počnu razvijati lične i profesionalne
                    sposobnosti te im pružamo mogućnost direktnog kontakta sa vodećim kompanijama iz tehničko-tehnoloških oblasti i ekonomije.

                </p>

            </div>
            <div class="col-md-4 col-xs-12">
                <img alt="Putovanja i razmjena iskustava" class="image img-responsive" src="img/mapa.png"></img>
                <p class="onama-title-text">
                    Putovanja i razmjena iskustava
                </p>
                <p class="onama-paragraph-text">
                    Razmjena ideja i iskustava iz oblasti elektrotehnike i kompjuterskih nauka te unapređenje tehničkog znanja studenata elektrotehnike omogućeno je kroz stručne radionice, razmjene, stručne prakse i slične aktivnosti u organizaciji različitih lokalnih komiteta.
                    Studenti imaju priliku da posjete bilo koji od gradova u kojima EESTEC ima lokalni komitet te se upoznaju sa kulturom i običajima države u kojoj borave. U toku boravka u drugim gradovima stvaraju prijateljstva, koja su često za čitav
                    život.
                </p>

            </div>
        </div>
    </div>
</div></div>
    <div id="includeTimeline"><div class="container-fluid">
    <div class="row">
        <div class="timelineBackground col-xs-12">
            <img src="img/timelineFinal.png" alt="timeline" class="timelineImage img-responsive" />
        </div>
    </div>
</div></div>
    <div id="includeOProjektu"><section class="container-fluid marginContainer oprojektu-cont">
    <p class="sectionHeadline"><b>o projektu</b></p>
    <p class="sectionHeadlineBottomRed"></p>
    <div class="row aboutProjectRowMargin">
        <div class="col-md-5 aboutProjectImgDiv">
            <div class="marginRight30">
                <img class="img-responsive aboutProjectImg" src="img/proba1.jpg" />
            </div>
        </div>
        <div class="col-md-7 justifyText">
            <p class="aboutProjectTextHeader">Šta je SSA?</p>
            <p class="aboutProjectBottomRed"></p>
            <p class="aboutProjectTextTop">
                Soft Skills Academy Sarajevo je besplatna trodnevna radionica ličnih i profesionalnih vještina za studente svih fakulteta u Sarajevu, koja podstiče studente na razvoj neformalnih vještina neophodnih za zapošljavanje i uspješnu karijeru, ali i za izazove modernog života, koje tradicionalan način studiranja ne može obezbijediti. Ovogodišnji SSA se održava u periodu od 10 - 12. 03. 2017. godine u prostorijama Academy387 Sarajevo.

            </p>
            <p class="aboutProjectTextBottom">
                40 najambicioznijih studenata svih fakulteta u Sarajevu učestvovat će u treninzima kao što su prezentacijske vještine, liderstvo, motivacija i mnogi drugi na kojima će steći veoma važne vještine koje će im pomoći u daljem školovanju i poslovnom životu.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 justifyText">
            <p class="aboutProjectTextHeader">Treninzi</p>
            <p class="aboutProjectBottomRed"></p>
            <p class="aboutProjectTextTop">
                Treninge će držati certificirani soft skills treneri. Po završetku radionice učesnici dobijaju certifikat i CV dodatak potpisan od strane Organizacionog odbora i odgovornih trenera, koji će moći priložiti uz CV prilikom zapošljavanja.
            </p>
            <p class="aboutProjectTextBottom">
                Usavršavanjem ovih vještina, neophodnih za uspješno i efikasno bavljenje različitim poslovima, učesnici koji budu prisustvovali radionici će steći prednost nad konkurencijom i zasigurno obezbijediti sebi kvalitetan posao. Osim toga, steći će vještine koje ne posjeduju, ali i razviti one koje su im nedovoljno razvijene, što će pozitivno utjecati na njihovu samosvjesnost i samopouzdanje. 
            </p>
        </div>
        <div class="col-md-5 aboutProjectImgDiv">
            <div class="marginLeft30">
                <img class="img-responsive aboutProjectImg" src="img/proba2.jpg" />
            </div>
        </div>
    </div>
</section></div>
    <div id="includeDrugiONama"><!--<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <meta property="og:type" content="website">
      <meta property="og:title" content="Soft Skills Academy Sarajevo '17" />
      <meta property="og:description" content="Soft Skills Academy Sarajevo - Besplatna trodnevna radionica ličnih i profesionalnih vještina za studente svih fakulteta u Sarajevu" />
      <meta property="og:image" content="img/greenLogo.png" />
      <meta property="og:url" content="." />
    <title>Soft Skills Academy Sarajevo '17</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
    <script src="js/jquery.redirect.js"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">

     Za Carousel 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/jpg" href="img/favicon.png"/>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="js/script.js"></script>
    <script src="js/scroll.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

</head> 
<body>-->
    <div class="marginContainer drugiONama-cont">
        <div class="container-fluid">
            <p class="sectionHeadline"><b>Drugi o nama</b></p>
            <p class="sectionHeadlineBottomRed"></p>

            <div class="container-citat">
    <br>
    <div id="myCarousel" class="carousel carouselCitati slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="citat">
                I ranije sam prisustvovala različitim radionicama sličnog tipa ali se jedino Soft Skills Academy pokazala kao zaista sveobuhvatna jer podrazumijeva susret učesnika sa svim oblastima koje ih pripremaju za izlazak na tržište rada. Cjelokupna atmosfera tokom realizacije SSA je nevjerovatna a održavaju je stručni organizatori, kvalifikovani predavači i učesnici željni novih znanja. U konačnici, najbolje iskustvo predstavljaju ostvarena poznanstva i ideja o važnosti cjeloživotnog učenja koja se rodi u svakom od učesnika SSA.
                <p class="ime-Osobe"> Naida Hodžić </p> 
            </div>
        </div>

        <div class="item">
            <div class="citat">
                Odlična prilika za sve studente da razviju svoje vještine, ali i da kroz druženje sa studentima različitih univerziteta, prošire svoju mrežu poznanstva i ostvare dragocjena prijateljstva.
                Magična atmosfera uz izvanredan tim mladih ljudi, ostavlja posebnu draž kod svakog učesnika ponaosob, a rezultat akademije je itekako zavidan.            
                <p class="ime-Osobe"> Faruk Ćidić </p>
            </div> 
        </div>
        
        <div class="item">
            <div class="citat">
                Soft Skills Academy mi je pružio priliku da upoznam nevjerovatne ljude, naučim korisne stvari kroz interaktivna predavanja i zabavim se sa ljudima iz čitave regije.            
                <div class="ime-Osobe"> Adi Arnautović </div>
            </div>
        </div>  

        <div class="item">
            <div class="citat"> 
                Mislim da je Soft Skills Akademija odlično mjesto za sticanje vještina potrebnih u profesionalnom usavršavanju. Lideri, projektni menadžeri, marketari, su jedni od veoma traženih ljudi u današnjem poslovnom svijetu. Ono što sam naučio kroz Soft Skills Akademiju već dvije godine uspješno koristim u radu kako u nevladinom sektoru, tako i u svim drugim  društvenim i poslovnim krugovima u kojima djelujem.
                <div class="ime-Osobe"> Nijaz Ćehaja </div> 
            </div>
        </div>

        <div class="item">
            <div class="citat"> 
                SSA je odlična prilika za upoznati mlade, ambiciozne ljude i zajedno sa njima raditi na usavršavanju ličnih vještina. Savjeti i preporuke koje smo dobili od trenera SSA bili su itekako korisni, a kroz interkativne radionice imali smo priliku odmah i primijeniti iste. Opuštena atmosfera je također doprinijela da u kratkom periodu naučimo mnogo toga što će nam koristiti u daljnjem životu.
                <div class="ime-Osobe"> Amina Talić </div>
            </div>
        </div>

        <div class="item">
            <div class="citat"> 
                Trodnevna radionica za pamćenje. Jedno nezaboravno iskustvo, ali isto tako i certifikat koji će svima nama koji smo učestvovali obogatiti CV. Svi koji žele da nauče stvari koje nisu u našoj svakodnevnici, odmah se prijavite na SSA! Vještine neophodne za izgradnju naše karijere je ono što nudi ova radionica, te pored toga jedno divno druženje sa mladim ljudima. 
                <div class="ime-Osobe"> Azra Kevrić </div> 
            </div>
        </div>

        <div class="item">
            <div class="citat"> 
                Tokom SSA sam shvatio šta znači neformalno učenje i kako soft vještine polahko postaju neizostavni dio svakog poslovnog čovjeka.
                <div class="ime-Osobe"> Semir Salkić </div>
            </div>
        </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control"  href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    </div>
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>-->

     <p class="sectionHeadlineBottomRed" style='padding-bottom:15px;' ></p>
        </div>

       
    </div>
<!--</body>-->



</div>
    <div id="includeRaspored"><div class="marginContainer rasp-cont">
<div class="container-fluid">
	<p class="sectionHeadline"><b>raspored</b></p>
        <p class="sectionHeadlineBottomRed"></p>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <img src="img/raspored.png" alt="Raspored" class=" raspImage img-responsive" />
        </div>
    </div>
</div>
</div></div>
    <div id="includeParticipanti"><div class="marginContainer par-cont">
<div class="container-fluid">
	<p class="sectionHeadline"><b>participanti</b></p>
        <p class="sectionHeadlineBottomRed"></p>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <img src="img/participanti.png" alt="Participanti" class=" raspImage img-responsive" />
        </div>
    </div>
</div>
</div></div>
    <div id="includeFooter"><div class="container-fluid footer">
    <div class="row">

        <div class="socialMedia col-xs-12 col-md-3">

            <div class="footerNaslov">
                <p>Social Media</p>

            </div>

            <div class="socialWrapper">
                <a target="_blank" class="col-xs-3" href="https://www.facebook.com/SoftSkillsAcademySarajevo/">
                    <img alt="Facebook" class="socialImage img-responsive" src="img/facebookTest.png" />
                </a>

                <a target="_blank" class="col-xs-3" href="https://twitter.com/eestecsarajevo">
                    <img alt="Twitter" class="socialImage  img-responsive" src="img/twitterTest.png" />
                </a>

                <a target="_blank" class="col-xs-3" href="https://www.instagram.com/eestec_lc_sarajevo/">
                    <img alt="Instagram" class="socialImage  img-responsive" src="img/instagramTest.png" />
                </a>

                <a target="_blank" class="col-xs-3" href="https://ba.linkedin.com/in/eestec-lc-sarajevo-347390a0">
                    <img alt="Linkedin" class="socialImage  img-responsive" src="img/linkedinTest.png"  />
                </a>

            </div>
        </div>

        <div class="col-xs-12 col-md-3">

            <div class="footerNaslov">
                <p>Kontakt</p>

            </div>

            <div class="kontaktOsobe">
                <p class="kontaktIme">
                    Emina Sikira
                </p>
                <p class="kontaktPozicija prvaKontakt">
                    Koordinatorica tima za odnose sa javnošću<br>
                     <b>emina.sikira@softskillsacademy.ba</b>
                </p>
                <p class="kontaktIme">
                    Adina Omerović
                </p>
                <p class="kontaktPozicija">
                    Glavna organizatorica<br>
                    <b>adina.omerovic@softskillsacademy.ba</b>
                </p>
            </div>

				


			</div>

		

	</div>

</div>


<div class="container-fluid subFooter">
	<div class="row">
		<div class="subFooter-wrapper col-xs-12">
<p>Copyright (C) EESTEC LC Sarajevo 2017</p>

</div>
</div>
</div>

</body>
</html>
        

</div>

