/node_modules
/public/hot
/public/storage
/public/uploads
/public/user_upload
/storage/*.key
/vendor
/.idea
/.vagrant
/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/config/ssa.php 
.vscode/launch.json
