.parent 
{
    position: relative;
    top: 0;
    left: 0;
    height: 122vh;
}



.sijalica 
{
    position: absolute;
    top: 0;
    left: -36.98%;
    width: 159.48%;
    height: 1442px;
    background: transparent;
}

.plavo 
{
    position: relative;
    top: 79px;
    left: -30px;
    width: 745px;
    height: 1255px;
}

.dots
{
    position: absolute;
    top: 427px;
    left: 431px;
    width: 424px;
    height: 424px;
    background: transparent;
}