.parent 
{
    position: relative;
    top: 0;
    left: 0;
    height: 122vh;
}



.sijalica 
{
    position: absolute;
    top: 0;
    left: -36.98%;
    width: 159.48%;
    height: 100%;
    background: transparent;
}

.plavo 
{
    position: relative;
    top: 5.48%;
    left: -3.125%;
    width: 77.6%;
    height: 87%;
}

.dots
{
    position: absolute;
    top: 29.6%;
    left: 44.9%;
    width: 44.2%;
    height: 29.4%;
    background: transparent;
}