.prvi_red {
    text-align: center;
    font: Bold 48px/60px Poppins;
    letter-spacing: 0;
    color: #475677;
    opacity: 1;
}

.drugi_red {
    text-align: left;
    font: Regular 18px/83px Open Sans;
    letter-spacing: 0.18px;
    color: #697598;
    opacity: 0.8;
}

.glavni_dio {
    width: 100%;
    height: auto;
}

