@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
* {
    background-color: #ffffff;
}

.oblak_sivi_278{
    position: absolute;
    left: -40%;
    opacity: 1;
}

#cikac-crta{
    /* position: relative; */
    /* left: 7%; */
    /* top: 3%; */
}
#tekst-lijevo{
    position:relative;
    /* bottom: 550px; */
    /* margin-right: 500px; */
    /* left:50%;     */
}
.radionice-naslov{
    text-align: left;
    font-family: 'Open Sans', sans-bold;
    letter-spacing: 0;
    color: #31384E;
    opacity: 1;
    /* position: relative; */
}

.radionice-tekst{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    color: #31384E;
    opacity: 0.7;
}


#navigacioni-meni{
    padding-bottom: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    opacity: 1;
    
}